#ex1 {
    background-color: yellow;
    width: 300px;
    height: 300px;
    line-height: 300px;
}

.exercise {
    margin: 20px auto;
}

.ex3-button {
    margin-right: 5px;
}

#ex5 {
    text-align: left;
}

.animal-ul {
    text-align: left;
    width: 90px;
    border-style: groove;
    padding: 8px 20px;
    margin: auto;
}

.ex7-element {
    width: 250px;
}